<div class="home" style="background-image: linear-gradient(-225deg, rgba(32, 164, 243, 0.3) 0%, rgba(252, 138, 0, 0.3) 50%), url(<%= asset_path 'home.jpg' %>);">
  <div class='text-container'>
    <h1 class="tagline">Aprende sus verbos irregulares en ingles sin problema</h1>
    <%= link_to 'Descargar tu lista completa (PDF)', root_path, class: 'home-button' %>
  </div>
</div>

<% link_to root_path do %>
  <div class="link-pdf">
    <p class="link">Descargar tu lista completa gratuitamente (PDF)</p>
  </div>
<% end %>

<div class="container">
  <% @verbs.each do |verb| %>
    <div class="row">
      <div class="col-xs-3"> <%= verb.infinitive %> </div>
      <div class="col-xs-3"> <%= verb.simple_past %> </div>
      <div class="col-xs-3"> <%= verb.past_participle %> </div>
      <div class="col-xs-3"> <%= verb.translation %> </div>
    </div>
  <% end %>
</div>
